<div class="modal-container">
    <div class="film-poster">
        <img src="https://image.tmdb.org/t/p/w500{{ poster_path }}" alt="{{title}}">

    </div>
    <div class="film-info">
        <h2 class="film-title">{{title}}</h2>
        <ul class="film-ranking">
            <li class="item-rank">
                <p class="item-name">Vote / Votes</p>
                <p class="item-description">
                    <span class="item-vote">{{vote_average}}</span>
                    <span style="color:rgb(140, 140, 140)">/</span>
                    <span class="item-votes">{{vote_count}}</span>
                </p>
            </li>
            <li class="item-rank">
                <p class="item-name">Popularity</p>
                <p class="item-description">{{popularity}}</p>
            </li>
            <li class="item-rank">
                <p class="item-name">Original Title</p>
                <p class="item-description">{{original_title}}</p>
            </li>
            <li class="item-rank">
                <p class="item-name">Genre</p>
                <p class="item-description">{{genres.name}}</p>
            </li>

        </ul>

        <h3 class="about-item">About</h3>
        <p class="description">{{overview}}</p>
        <div class="buttons">
            <button class="btn-add watched">add to Watched</button>
            <button class="btn-add queue">add to queue</button>
        </div>

    </div>


</div>